.container-fluid{
 padding-top: 15px;
 padding-bottom: 30px;
}

.input-group{
	position: absolute;  
    left: 110px; 
	}
.tab{
	position: absolute;  
    right: 200px; 
	}
.btnlogin{
	position: absolute;  
	top:22px;
    right: 20px; 
	}

.verticalLine {
   width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float: left; 
}

.bordered {
    border: 1.5px solid #cccccc;
    height: 100%; 
}
.mm{
	display:inline; 
	float:left; 
	margin:-35px -50px -135px -45px;
    
}


@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}

.container{
	position: absolute;  
	top:180px;
   left: 2px; 
	}

    



